.btn {
  border: none;
  background: var(--btn-background);
  color: var(--icons-color);
  padding: 8px 16px;
  margin: 10px;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: all 0.25s;
}

.icons {
  font-size: 20px;
  display: inline !important;
  color: var(--icons-color);
  transition: all 0.25s;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.btn:hover .icons {
  color: #57ac57;
}

.btn:hover {
  background-color: #e6f3e6;
}

.btn span {
  display: none;
}

.btn-github {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  z-index: 99;
  margin: 0;
  /* animation: githubAnimate linear 1s infinite; */
}

.btn-github::after {
  content: "";
  height: 35px;
  width: 10px;
  border-radius: 2px;
  z-index: -2;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  background-color: var(--btn-background);
}

@keyframes githubAnimate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@media screen and (min-width: 640px) {
  .btn span {
    display: initial;
  }
}
