.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__utils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.nav__additional {
  display: flex;
}

.nav__main {
  display: flex;
}
